.secondpage{
    height: 100vh;
    margin-right: 1cm;
    h2{
        font-size: 2cm;
        text-align: center;
        margin-bottom: .5cm;
    }
    p{
        text-align: center;
        font-size: 20px;
    }
    .btn{
        margin-top: .5cm;
    }
}